<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Common UI</title>

    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <!-- menu area -->
    <div id="app3">
      <header id="header">
        <!-- <h1>menu</h1> -->

        <button class="breadcrumb-btn" @click.prevent.stop="openMenu">
          <span class="breadcrumb-decoration"></span>
          <span class="breadcrumb-decoration"></span>
          <span class="breadcrumb-decoration"></span>
        </button>
        <transition name="slide">
          <div class="breadcrumb-menu" v-if="isOpenMenu">
            <header>
              <buton class="breadcrumb-btn" @click.prevent.stop="closeMenu"
                >X</buton
              >
            </header>
            <ul id="list">
              <li class="item">
                <a href="#">TOP</a>
              </li>
              <li class="item">
                <a href="#">About</a>
              </li>
              <li class="item">
                <a href="#">NEWS</a>
              </li>
              <li class="item">
                <a href="#">CONTANT</a>
              </li>
            </ul>
          </div>
        </transition>
      </header>
    </div>

    <!-- tab area -->
    <!-- <div id="app1">
      <div id="wrapper">
        <h1>Tab List</h1>
        <div id="tab">
          <div
            v-for="(tab, index) in tabs"
            :key="tab.id"
            @click="onClick(index)"
            class="tab-list"
            :class="{'-active': index === currentTabIndex}"
          >
            <button>{{ tab.name }}</button>
          </div>
        </div>
        <div id="content">{{ currentTabContent }}</div>
      </div>
    </div> -->

    <!-- modal area -->
    <!-- <div id="app2">
      <div id="wrapper">
        <h1>Modal</h1>
        <button id="modal-open-btn" @click.prevent.stop="openModal">
          Open Modal Window
        </button>
        <transition name="fade">
          <div class="modal-overlay" v-if="isOpenModal">
            <div id="modal">
              <button id="modal-close-btn" @click.prevent.stop="closeModal">
                X
              </button>
              <div id="modal-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Inventore explicabo consectetur ipsa necessitatibus
                  blanditiis. Laborum assumenda blanditiis saepe ab officiis
                  minima sequi mollitia ad et, maiores quis a nobis tempore.
                </p>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./vue.js"></script>
  </body>
</html>
