@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400|Roboto:400,700&display=swap");

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background: white;
}

*:focus {
  outline: none !important;
}

#wrapper {
  padding: 30px 0;
  margin: 30px 30px;
  border-top: 7px solid #e6e6e6;
  border-bottom: 7px solid #e6e6e6;
}

#wrapper h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

#tab {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 15px 0 0 0;
  position: relative;
}

#tab::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #e6e6e6;
  position: absolute;
  left: 0;
  bottom: 3px;
}

#tab .tab-list {
  margin: 0 10px;
}

#tab .tab-list.-active button {
  border-bottom: 7px solid #50bdd8;
}

#tab button {
  position: relative;
  background: none;
  border: none;
  padding: 20px 15px;
  text-align: center;
}

#input-form {
  display: flex;
  width: 100%;
  margin: 30px 0 0 0;
}

#input-form .input-text {
  display: flex;
  width: 100%;
}

#input-form .input-text label {
  line-height: 30px;
  margin: 0 15px 0 0;
}

#input-form .input-text input[type="text"] {
  width: 100%;
  height: 30px;
  padding: 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  padding: 5px 10px;
  box-sizing: border-box;
}

#input-form .submit {
  display: flex;
  min-width: 50px;
}

#input-form .submit button {
  width: 50px;
  line-height: 30px;
  padding: 0;
  border: none;
  background: #1aaed3;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

#input-form .submit button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#todo-table {
  border-collapse: collapse;
  margin: 30px 0 0 0;
  vertical-align: top;
}

#todo-table tbody tr:nth-of-type(odd) {
  background: #f2f2f2;
}

#todo-table tbody td {
  padding: 10px 10px 10px 0;
  font-weight: normal;
}

#todo-table tbody td:first-child {
  padding: 11px 10px 10px 10px;
  vertical-align: middle;
}

#todo-table tbody td:nth-of-type(2) {
  width: 100%;
}

#todo-table .cell-done input {
  display: none;
}

#todo-table .cell-done label {
  border: 1px solid #bababa;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

#todo-table .cell-done label.-active {
  background: #50accf url("../img/icon_check.svg") center center no-repeat;
  border: none;
}

/* modal area */
#modal-open-btn {
  width: 200px;
  margin: 30px 0 0 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

#modal {
  position: relative;
  width: 50%;
  background: white;
}
#modal-close-btn {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
#modal #modal-content {
  min-height: 150px;
  padding: 40px 30px;
}

/* menu area */
#header {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 40px;
  background: #e6e6e6;
}
.breadcrumb-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 20px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 20%;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.breadcrumb-decoration {
  display: block;
  content: "";
  margin: 0 auto;
  width: 18px;
  height: 2px;
  background: black;
}

.breadcrumb-decoration:nth-child(2) {
  margin: 4px auto;
}

.breadcrumb-menu {
  position: absolute;
  top: 0;
  transform: translateX(0);
  width: 300px;
  height: 100vh;
  background: #d5d5d5;
}

.breadcrumb-menu header {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  padding-bottom: 10px;
}

.breadcrumb-menu #list {
  margin: 0;
  padding: 0 40px;
  list-style: none;
}

.breadcrumb-menu #list .item {
  margin-bottom: 15px;
}

.breadcrumb-menu #list .item a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    padding: 0 30px;
  }

  #wrapper {
    max-width: 900px;
    margin: 60px auto;
    padding: 30px 0;
  }

  #wrapper h1 {
    font-size: 40px;
  }

  #tab .tab-list {
    margin: 0 30px;
  }

  #input-form {
    max-width: 500px;
    margin: 50px auto 0;
  }

  #input-form .input-text label {
    display: flex;
    align-items: center;
    margin: 0 30px 0 0;
  }

  #input-form .input-text input[type="text"] {
    padding: 10px 15px;
    height: 45px;
    line-height: 45px;
  }

  #input-form .submit button {
    width: 80px;
  }

  /* modal area */
  #modal-open-btn {
    display: flex;
    width: 200px;
    justify-content: center;
    margin: 50px auto 0;
    line-height: 30px;
    padding: 0;
    border: none;
    background: #1aaed3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
}

/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
} */

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.15s ease-in-out;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
}
