{% extends 'diary/base.html' %}

{% block content%}
<h1>日記一覧</h1>

<table class="table">
    <thead>
        <tr>
            <th>title</th>
            <th>date</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        {% for day in day_list %}
            <tr>
                <td><a href="{% url 'diary:detail' day.pk %}">{{day.title}}</a></td>
                {% comment %} <td>{{day.title}}</td> {% endcomment %}
                <td>{{day.date}}</td>
                <td><a href="{% url 'diary:update' day.pk %}">update</a></td>
                <td><a href="{% url 'diary:delete' day.pk %}">delete</a></td>
                
            </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock%}
