header {
  height: 150px;
  background-color: red;
}
#logo {
  width: 100px;
  height: 100px;
  background-color: blue;
  float: left;
  margin: 25px;
  /* background-image: url("../images/test.png"); */
}
nav {
  width: 450px;
  background-color: blue;
  height: 40px;
  float: right;
  margin-top: 50px;
  margin-right: 30px;
}
section {
  width: 85%;
  background-color: green;
  height: 500px;
  float: left;
}
aside {
  width: 15%;
  background-color: violet;
  height: 500px;
  float: right;
}

footer {
  height: 50px;
  width: 100%;
  background-color: blue;
  float: left;
}
